option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: doghub.wsgi:application

container_commands:
  01_makemigrations:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations --noinput"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true
  03_parkdata:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py loaddata park.yaml"
    leader_only: true
  04_tagdata:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py loaddata tag.yaml"
    leader_only: true
