{% include "doghub_app/nav_bar.html" %}{% load static %} 



<div class="info" style="padding-top: 100px; color: #3c3852; font-size: 1rem;font-family: 'Arial';text-align: center;">
    <p>
        Doghub is a platform where connecting to dog owners, scheduling play dates at NYC parks, finding service providers such as dog walkers, breeders, vendors, and vets is made easy.

    </p>
    <p>

        You want companionship, your dog does too! Doghub is an app designed to connect with other dog owners for playdates, and for any services that you would need for your dog!
    
    </p>
    
    </div>