{% load static %}


<head>

    <link  rel = "stylesheet" type = 'text/css' media="screen"  href="{% static 'styles/add_event.css' %}" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAC2P9ywf4F9C4G6SuiL34zav0l0Gko3I"></script>
</head>


{% block content %}
<h1> Add Event</h1>
<form method="POST">
    {% csrf_token %}
    {{ event_post_form.as_p }}
    <button type = "submit">Submit</button>
</form>
{% endblock %}

<div id ="map"></div>

<script>
    function initMap() {
        const trialpark = { lat: -74.0016, lng: 40.7093};
        const centerloc = {lat: 40.730610, lng: -73.935242};
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 40.730610, lng: -73.935242},
        zoom: 10
      });

      const contentString = 
      '<div id = "content">'+
      '<div id = "siteNotice">'+
        "</div>" + 
        '<h1 id ="firstHeading" class="firstHeading">Trial</h1>';

        const infowindow = new google.maps.InfoWindow({
            content:contentString,
            ariaLabel: "Trial"
        })

      const marker= new google.maps.Marker({
          position: centerloc,
          map,
          title: "Trial park!",
      })

      marker.addListener("click", () => {
          infowindow.open({
              anchor: marker,
              map,
          });
      });

    }
  </script>

 

  <script>
    window.onload=function(){
        initMap();
    };
</script>

