{% block content %}
<!-- <div class="container">
  <h2>Edit Dog Profile</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-info" type="submit" value="Update">
  </form>
</div> -->
  <!-- <h1>Dog Profile</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ dog_profile_form.as_p }}
    <button type="submit">Save</button>
  </form> -->
  <!DOCTYPE html>
{% load static %}
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/472ce279d4.js" crossorigin="anonymous"></script>
    <link  rel = "stylesheet" type = 'text/css' media="screen"  href="{% static 'styles/dog_profile_edit.css' %}" />
    <title>Log In</title>
  </head>

  <body >
    <div class="container" id="container">
      <!-- <div class="form-container sign-up-container">
        <form action=""  method="post" enctype="multipart/form-data">
          {% csrf_token %} 
          {% if messages %}
          {% for message in messages %}
            <h5>{{ message }}</h5>
          {% endfor %}
          {% endif %}
          <h1 class="profile-head">User Profile</h1>

          <div class="avatar" id="avatar_human">
            <div id="preview_human"><img src="{% static 'images/profile1.jpg' %}" id="avatar-image" class="avatar_img">
            </div>
            <div class="avatar_upload">
              <label class="upload_label">Upload
                      <input type="file" id="upload_human" name="upic">
                    </label>
            </div>
          </div>

          <div class = "input-inline">
            <label>First Name</label> 
            <input type="text" name = 'ufirstname' placeholder="First Name" required />
          </div>
          <div class = "input-inline">
            <label>Last Name</label> 
            <input type="text" name = 'ulastname' placeholder="Last Name"  required/>
          </div>
          <div class = "input-bio-inline">
          <label>Bio</label> 
          <input class="bio-input" type="text" name='uBio'>
          </div>
          <div class = "input-inline">
          <label>Date of Birth</label> 
          <input type="date" id="DOB" name="uDOB">
          </div>
          <button>Sign In</button>
        </form>
      </div> -->
      <div class="form-container sign-in-container">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %} 
          {% if messages %}
          {% for message in messages %}
            <h5>{{ message }}</h5>
          {% endfor %}
          {% endif %}
          <h1 class="profile-head">Dog Profile</h1>
          
          <div class="avatar" id="avatar">
            <div id="preview"><img src="{{media_url}}{{dog_prof.pic}}" id="avatar-image" class="avatar_img">
            </div>
            <div class="avatar_upload">
              <label class="upload_label">Upload
                      <input type="file" id="upload" name = "dogPic">
                    </label>
            </div>
          </div>
          <!-- <span>or use your email for registration</span> -->
          <div class = "input-inline">
            <label>Name</label> 
            <input type="text" name = 'dogName' value = "{{dog_prof.name}}" required/>
          </div>
          <div class = "input-bio-inline">
            <label>Bio</label> 
            <input class="bio-input" type="text" name='dogBio' value = "{{dog_prof.bio}}" required/>
          </div>
          <div class = "input-inline">
            <label>Date of Birth</label> 
            <input type="date" name="dogDOB" value = "{{dog_dob}}" required>
          </div>
          <button>Save</button>
        </form>
      </div>
      <!-- <div class="overlay-container" >
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Back To Dog Profile</h1>
            <p>Continue adding dog profile</p>
            <button class="ghost" id="addUserProfile">Back to Dog Profile</button>
          </div>
          <div class="overlay-panel overlay-right">
            {% if dogList %}
            <ul class="profile-list">
              {% for dog in dogList %}
              <li class="profile-list--item">
                <header class="profile-details">
                  <img src="{{media_url}}{{dog.pic}}" alt="DOG" class="profile-img" />
                  <h3 class="profile-name">{{dog.name}}</h3>
                </header>
             </li>
             {% endfor %}
            </ul>
            <a href="{% url 'user_profile' %}"  class="ghost" id="addDogProfile">Done</a>
            {% else %}
            <h1 id = 'demo'>Add Dog Profiles</h1>
            <p>You can add profiles for your dogs or continue on your profile</p>
            <a href="{% url 'user_profile' %}" class="ghost" id="addDogProfile">Done</a>
            {% endif %}
          </div>
        </div>
      </div> -->
    </div>
    <script src= "{% static 'scripts/dog_profile_edit.js' %}" ></script>
 </body>
</html>
{% endblock %}