{% block content %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'styles/edit_password.css' %}"
    />

    <div class="message">
      {% if messages %} {% for message in messages %}
      <div
        class="alert alert-danger"
        id="fade"
        style="
          background-color: rgb(250, 10, 10) !important;
          border-radius: 5px;
          padding: 10px !important;
        "
      >
        {{ message }}
      </div>
      {% endfor %} {% endif %}
    </div>
  </head>
  <body>
    <div class="mainDiv">
      <div class="cardStyle">
        <form action="" method="POST">
          {% csrf_token %}
          <h2 class="formTitle">Change Password</h2>

          <div class="inputDiv">
            <label class="inputLabel" for="password">Current Password</label>
            <input
              type="password"
              id="password"
              name="current_password"
              required
            />
          </div>

          <div class="inputDiv">
            <label class="inputLabel" for="password">New Password</label>
            <input type="password" id="password" name="new_password" required />
          </div>

          <div class="inputDiv">
            <label class="inputLabel" for="confirmPassword"
              >Confirm Password</label
            >
            <input
              type="password"
              id="confirmPassword"
              name="confirm_password"
            />
          </div>

          <div class="buttonWrapper">
            <button
              type="submit"
              id="submitButton"
              name="save_password"
              class="submitButton pure-button pure-button-primary"
            >
              <span>Change</span>
            </button>
          </div>
        </form>
      </div>
    </div>

    {% if errors %} {% for error in errors %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endfor %} {% endif %}
  </body>
</html>
{% endblock %}
