
{% include "doghub_app/nav_bar.html" %}{% load static %} {% if messages %} {% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %} {% endif %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/472ce279d4.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAC2P9ywf4F9C4G6SuiL34zav0l0Gko3I"></script>

    {% load static %} 
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'styles/events.css' %}"
    />
    <title>Title</title>
   {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %} {% endif %}
  </head>
  <body>
    <div class="side-bar">
      <div class="logo-top">
        <a href="#">
          <h1>Hi {{ userprof.fname}}</h1>
        </a>
      </div>
      <ul class="nav-links">
        <li class="nav-tab active" data-view-name="event">
          <a href="#">
            <i class="fa-solid fa-calendar-days"></i>
            <span>
              Events
            </span>
          </a>
        </li>
        <li class="nav-tab" data-view-name="friend">
          <!-- <a href="{% url 'friends' %}"> -->
          <a href="#">
            <i class="fa-brands fa-gratipay"></i>
            <span>
              Friends
            </span>
          </a>
        </li>
        <li class="nav-tab" data-view-name="group">
          <a href="">
            <i class="fa-solid fa-people-group"></i>
            <span>
              Groups
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="main-content">
  
      <div class="event" data-view-active="true">
        <a class= "add_event" href="{% url 'add_post' %}" >
          <i class="fa-solid fa-circle-plus"></i>
        </a>
        {% if event_posts %}
        <ul>
        {% for event in event_posts %}
          <li class="card">
            <div class="card-inner">
                <div class="front">
                  <h3 class="card__title"> {{event.event_info.event_title}}</h3>
                  <p> Host By: {{event.hostname}}</p>
                  <div class="event-description">
                  <p> {{event.event_info.event_description}}</p>
                  </div>
                  
                   <div class="card__date">{{event.event_info.event_time}} </div>
                </div>
                <div class="back">
                    <div class="back_content">
                      <div class="detail_content"><h3> Details</h3></div>
                     <div id="reg_ind" > 
                      {% if event.attendee %}
                       <i id="registerIc" class="fa-solid fa-star"></i>
                      {% else %}
                      <i id="registerIc" class="fa-regular fa-star"></i>
                      {% endif %}
                    </div>  
                    </div>
                    
                     {% for parkinfo in park %}
                    {% if parkinfo.park_id == event.event_info.park_id.park_id %}
                    <div id ="map-{{event.event_info.event_id}}" style= "height:200px; width:97%;"></div>
                    
                  
                    <script>
                        function initMap() {
                          var myLatLng = {lat: {{ parkinfo.latitude }}, lng: {{ parkinfo.longitude }}};
                          var map = new google.maps.Map(document.getElementById('map-{{event.event_info.event_id }}'), {
                              zoom: 17,
                              center: myLatLng
                          });
                         
                          var marker = new google.maps.Marker({
                              position: myLatLng,
                              map: map
                          });
          
                      }
                      initMap();
                      console.log('init Map')
                      var mapListener = document.getElementById('map-{{event.event_info.event_id}}');
                      mapListener.addEventListener("click",(e)=>{
                        e.stopPropagation();
                      });
                      
                  </script>
                    
                        <p>{{parkinfo.name}}</p>
                        <p> {{parkinfo.street}}</p>
                       
                        {% endif %}
                        {% endfor %}
                    
                    
                    
                    {% if event.host %}
                          <button class="registerBtn" id="registerBtn" style="pointer-events:none; opacity: 0;" onclick="rsvp_event('{{event.event_info.event_id}}','{{csrf_token}}')">
                    {% else %}
                          <button class="registerBtn" id="registerBtn" onclick="rsvp_event('{{event.event_info.event_id}}','{{csrf_token}}')">
                    {% endif %}    
                    {% if event.attendee %}
                    <i id="registerIc" class="fa-solid fa-star" style="opacity: 0;"></i>
                    {% else %}
                    <i id="registerIc" class="fa-regular fa-star"></i>
                    {% endif %}
                     RSVP</button>

                </div>
             </div>
           </li>
        {% endfor %}
        </ul>
        {% else %}
        <h1>No Posts</h1>
        {% endif %}
      </div>
      <div class="friend" data-view-active="false">
        <!-- <h1>Friendsssss</h1> -->
        <ul>
          {% for user_profile in user_profiles %}
          <div class="friend-list clearfix">
            <li>
                <a href="{% url 'public-profile' user_profile.email   %}">
                    <div><img src="{{media_url}}{{user_profile.pic}}" alt="{% static 'images/profile1.jpg' %}" class="friend-img">
                    </div>
                    <div class="friend-info">
                        <h4>{{ user_profile.fname }}</h4>
                        <h4>{{ user_profile.lname }}</h4>
                        <p>{{ user_profile.email }}</p>
                    </div>
                </a>
            </li>
          </div>
            {% empty %}
        <li>You have no friends.</li>
        {% endfor %}
        </ul>
        <!-- <p>okkkk</p> -->
      </div>
      <div class="group" data-view-active="false">
        <div class="group-content">
        <h3> Welcome {{ request.user.userprofile.fname }}! </h3 >
          {% if groups_owned %}
        <h4> Groups I own </h4>
        <ul class="group-content-list">
        {% for g in groups_owned %}
          <li> {{ g.group_title }} </li>
        {% endfor %}
        </ul>
        {% else %}
        <p> You do not own any groups, why not create one? </p>
        {% endif %}

        {% if groups_joined %}  
        <h4> Groups I joined </h4>
        <ul>
          {% for g in groups_joined %}
          <li> {{ g.group_title }} </li>
          {% endfor %}
        </ul>
        {% else %}
        <p> You have not joined any groups, why not join a group ? </p>
        {% endif %}
          <p>
            <a href="{% url 'join_group' %}">Join Group</a>
            <a href="{% url 'create_group' %}"> Create Group </a>
            <a href="{% url 'leave_group' %}"> Leave Group </a>
          </p>
        </div>
      </div>
    </div>


  <script src= "{% static 'scripts/events.js' %}" ></script>
  </body>



</html>
