{% load static %} {% if messages %} {% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %} {% endif %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'styles/events.css' %}"
    />
    <title>Title</title>
    <div>
      <ul class="navi">
        <li><a href="">Home</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Contact</a></li>
        <li>

              <form method="post" action="{% url 'search-user' %}">
                {% csrf_token %}
                <input  placeholder ="Search user..." class = "searchTerm" type="text" name="searched" /> 
                </br>
                <input type="checkbox" name="filter" value="users">
                  <label style="color: white;" for="users">Users</label> 
                <input type="checkbox" name="filter" value="events">
                <label style="color: white;" for="events">Events</label>
              </form>
          </li>

        <li>
          <a class="active" href="{% url 'user_profile'%}"
            ><div class="profile-img">
              <img
                src="{{media_url}}{{userprof.pic}}"
                width="30"
                alt="Profile Image"
              />
            </div>
            {{ userprof.fname}}</a
          >
        </li>
        <!--<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
          data-mdb-toggle="dropdown" aria-expanded="false"> <i class="fas fa-user mx-1"></i> Profile </a>
          
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                  <a class="dropdown-item" href="#">My account</a>
              </li>

              <li>
                  <a class="dropdown-item" href="#">Log out</a>
              </li>
          </ul>
        </li>-->
      </ul>
    </div>
  </head>
  <body>
    <p>Welcome {{ userprof.fname}}</p>
    <p>This is the events homepage</p>
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Sign Out</button>
    </form>
    <h1>Post List</h1>
    <form action="{% url 'add_post' %}" method="post">
      {% csrf_token %}
      <button type="submit">Add Event</button>
    </form>

    <ul>
      {% for eventpost in event_posts %}
      <li>{{eventpost.event_title}} - {{eventpost.event_time}}</li>
      {% empty %}
      <li>No posts yet.</li>
      {% endfor %}
    </ul>
    <script src= "{% static 'scripts/events_homepage.js' %}" ></script>
  </body>
</html>
