{% if messages %} {% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %} {% endif %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
  </head>
  <body
    style="
      background: #fafafa;
      display: flex;
      align-items: center;
      justify-content: center;
    "
  >
    <div
      style="
        background: #ffffff;
        border-radius: 10px;
        height: 500px;
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-color: white;
        background: #ebebeb;
        padding: 36px 0;
        border-radius: 10px;
        margin: 30px 0;
        box-shadow: 5px 5px 20px 1px #c0cef9;
      "
    >
      <h3>Reset your password</h3>
      <form action="{% url 'forgot_password_email' %}" method="post">
        {% csrf_token %}
        <input
          style="
            background-color: #fffefe;
            border-radius: 10px;
            height: 25px;
            width: 200px;
            border-color: #c0cef9;
          "
          name="email_id"
          placeholder="Enter your email..."
        />
        <br />
        <button
          style="
            width: 90%;
            height: 30px;
            margin: 10px;
            display: block;
            border-radius: 5px;
            background: #6f36a8;
            color: #fff;
            font-size: 1rem;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
            cursor: pointer;
          "
          type="submit"
        >
          Reset
        </button>
      </form>
    </div>
  </body>
</html>
