{% if messages %} {% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %} {% endif %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
  </head>
  <body>
    <p>Reset your password</p>
    <p>Enter the email address associated with your account</p>
    <form action="{% url 'forgot_password_email' %}" method="post">
      {% csrf_token %}
      <input name="email_id" />
      <button type="submit">Reset</button>
    </form>
  </body>
</html>
