{% include "doghub_app/nav_bar.html" %}{% load static %} {% if messages %} {% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %} {% endif %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/472ce279d4.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    {% load static %} 
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'styles/inbox.css' %}"
    />
    <title>Title</title>
   {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %} {% endif %}
  </head>
  <body>
    <div class="mail-area">

        {% if messageList %}
        <ul id = 'message_list'>
            {% for message in messageList %}
            {% if 'chat' in message.type  %}
            <li>
                <div class="container">
                    <div class="card">
                        <div class="cover">
                            <h2><i class="fa fa-envelope"  aria-hidden="true"></i>From {{message.sender.username}}</h2>
                            <p>Received at {{message.timestamp}}</p>
                        </div>
                        <div class="content">
                            <p>{{message.text|safe}} </p>
                        </div>
                    </div>
                </div>
            </li>
            {% else  %}
             <li>
              <div class="container">
                  <div class="card">
                      <div class="cover">
                          <h2><i class="fa fa-users" aria-hidden="true"></i>Group Invitation</h2>
                          <p>{{ message }} would like to join your {{ message.group }}</p>
                      </div>
                      <div class="invite-content">
                          <button onclick="accept_request('{{csrf_token}}', this,'{{message.group_id}}','{{message.member_id}}')">Accept </button>
                          <button onclick="decline_request('{{csrf_token}}', this,'{{message.group_id}}','{{message.member_id}}')">Decline </button>
                      </div>
                  </div>
              </div>
            </li>
            {% endif %}
            {% endfor %}
             
        </ul>
        {% else %}
        <h1>No Message</h1>
        {% endif %} 
        <div class= "add_message" id="add_icon"><i class="fa-solid fa-circle-plus"></i></div>
        <label class="warning_message" id="recipient_warning">Recipient Can't be Empty</label>
        <label class="warning_message" id="content_warning">Message Can't be Empty</label>
        <div class="sending_container">
          <div class="card">
              <div class="sending_cover">
                  <p>Recipient: </p><div class="recipient" type="text" id="recipient"></div><div type="text"/>
                  <div class="dropdown-friend">
                    {% if friendsLs %}
                    <ul>
                      {% for friend in friendsLs %}
                          <li onclick='friendName(this,"{{friend.id}}")'>{{friend.username}}</li>
                      {% endfor %}
                  </ul>
                  {% endif %}
                  </div>
              </div>
              <div class=" sending_icon" onclick="send_message('{{csrf_token}}')">
                <i class="fa fa-paper-plane-o sending_icon" aria-hidden="true"></i>
              </div>
              <div class="sending_content">
                <textarea id="sending_text" rows="4" cols="50" class="sending_text" required></textarea>
              </div>
          </div>
      </div>
    </div>
    <script src= "{% static 'scripts/inbox.js' %}" ></script>
  </body>