{% include "doghub_app/nav_bar.html" %}{% load static %} {% if messages %} {% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %} {% endif %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/472ce279d4.js" crossorigin="anonymous"></script>
    {% load static %} 
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'styles/inbox.css' %}"
    />
    <title>Title</title>
   {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %} {% endif %}
  </head>
  <body>
    <div class="mail-area">
        {% if messageList %}
        <ul>
            {% for message in messageList %}
            <li>
                <div class="container">
                    <div class="card">
                        <div class="cover">
                            <h2><i class="fa fa-envelope"  aria-hidden="true"></i>From {{message.sender.username}}</h2>
                            <!-- <p>From {{message.sender.username}}</p> -->
                            <p>Received at {{message.timestamp}}</p>
                        </div>
                        <div class="content">
                            <p>{{message.text}} </p>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <h1>No Message</h1>
        {% endif %} 
    </div>
    <script src= "{% static 'scripts/inbox.js' %}" ></script>
  </body>