{% include "doghub_app/nav_bar.html" %}{% load static %} {% if messages %} {% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %} {% endif %}

<head>
{% load static %}
<link rel="stylesheet" href="{% static 'styles/groups.css' %}" />
</head>

{% if Join %}
<h3> Join Groups </h3>
{% else %}
<h3> Leave Groups </h3>
{% endif %}

{% if groups %}
<form action="" method="post">
    {% csrf_token %}
    <div class="row">
    {% for g in groups %}
    <div class="column">
    <div class="flip-card">
      <div class="flip-card-inner">
	<div class="flip-card-front">
	  <div class="title">
	    <p> {{ g.group_title }} </p>
	  </div>
	  <div class="owner">
	    <p> Made by:
	      {{ g.group_owner.userprofile.fname }} {{ g.group_owner.userprofile.lname }}</p>
	  </div>
	</div>
	<div class="flip-card-back">
	  <div class="owner">
	    <p>
	    By: <a href="/public-profile/{{ g.group_owner.email }}", target="_blank">
	      {{ g.group_owner.userprofile.fname }} {{ g.group_owner.userprofile.lname }}
	    </a> </p>
	  </div>
	  <div class="check">
	    <input type="checkbox", name={{ g.pk }}>
	  </div>
	  <div class="desc">
	    {{ g.group_description }}
	  </div>
	</div>
      </div>
    </div>
    </div>
    {% endfor %}
    </div>
    
    {% if Join %}
    <input type="submit" value="Join">
    {% else %}
    <input type="submit" value="Leave">
    {% endif %}
</form>
{% else %}
{% if Join %}
<p> No groups to join </p>
{% else %}
<p> You're not a member of any group. Join one?
  <a href="{% url 'join_group' %}">Join Group</a>
</p>
{% endif %}
{% endif %}
