{% include "doghub_app/nav_bar.html" %}{% load static %} {% if messages %} {% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %} {% endif %}

<head>
{% load static %}
<link rel="stylesheet" href="{% static 'styles/groups.css' %}" />
</head>

<h3> Welcome {{ request.user.userprofile.fname }}! </h3>
{% if groups_owned %}
<h4> Groups I own </h4>
    <div class="row">
    {% for g in groups_owned %}
    <div class="column">
    <div class="flip-card">
      <div class="flip-card-inner">
	<div class="flip-card-front">
	  <div class="title">
	    <p> {{ g.group_title }} </p>
	  </div>
	  <div class="owner">
	    Made by:
	      {{ g.group_owner.userprofile.fname }} {{ g.group_owner.userprofile.lname }}
	  </div>
	</div>
	<div class="flip-card-back">
	  <div class="owner">
	    By: <a href="/public-profile/{{ g.group_owner.email }}", target="_blank">
	      {{ g.group_owner.userprofile.fname }} {{ g.group_owner.userprofile.lname }}
	    </a>
	  </div>
	  <br>
	  </br>
	  <div class="desc">
	    {{ g.group_description }}
	  </div>
	</div>
      </div>
    </div>
    </div>
    {% endfor %}
    </div>
{% else %}
<p> You do not own any groups, why not create one? </p>
{% endif %}

{% if groups_joined %}
<h4> Groups I joined </h4>
    <div class="row">
    {% for g in groups_joined %}
    <div class="column">
    <div class="flip-card">
      <div class="flip-card-inner">
	<div class="flip-card-front">
	  <div class="title">
	    <p> {{ g.group_title }} </p>
	  </div>
	  <div class="owner">
	    Made by:
	      {{ g.group_owner.userprofile.fname }} {{ g.group_owner.userprofile.lname }}
	  </div>
	</div>
	<div class="flip-card-back">
	  <div class="owner">
	    By: <a href="/public-profile/{{ g.group_owner.email }}", target="_blank">
	      {{ g.group_owner.userprofile.fname }} {{ g.group_owner.userprofile.lname }}
	    </a>
	  </div>
	  <br>
	  </br>
	  <div class="desc">
	    {{ g.group_description }}
	  </div>
	</div>
      </div>
    </div>
    </div>
    {% endfor %}
    </div>
{% endif %}

{% if groups_pending %}
<h4> Membership Request Sent to: </h4>
<ul>
{% for g in groups_pending %}
<li> {{ g }} </li>
{% endfor %}
</ul>
{% endif %}

<div hidden>
{% if members_pending %}
<h4> Incoming Requests </h4>
{% for g, mem_list in members_pending.items %}
{% for mem in mem_list %}
<p> {{ mem }} would like to join your {{ g }}
<form action="" method="post">
  {% csrf_token %}
<input type="submit" value="accept" name="status">
<input type="submit" value="reject" name="status">
<input type="hidden" name="member_id" value={{ mem.member_id }}>
<input type="hidden" name="group_id" value={{ g.group_id }}>
</p>
{% endfor %}
{% endfor %}
{% endif %}
</div>

{% if not group_joined and not groups_pending %}
<p> You have not joined any groups, why not join a group ? </p>
{% endif %}

<p>
  <a href="{% url 'join_group' %}">Join Group</a>
  <a href="{% url 'create_group' %}"> Create Group </a>
  <a href="{% url 'leave_group' %}"> Leave Group </a>
</p>

